

body {
	font-family: Arial, Sans-Serif;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

a {
	color: #0067ab;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.loginform {
    background-color: #A5D9E0;
	width: 350px;
    float: right;
    padding-right: 1px;
    align-items: center;
    padding-left: 15px;
    position:sticky;
    bottom:52%;
    
   
}

.signupform {
	width: 300px;
	margin: 0 auto;
    
}

input[type='text'],
input[type='email'],
input[type='password'] {
	width: 300px;
	border-radius: 2px;
	border: 1px solid #CCC;
	padding: 10px;
	color: #333;
	font-size: 14px;
	margin-top: 10px;
}

input[type='submit'] {
	padding: 10px 25px 8px;
	color: #fff;
	background-color: #0067ab;
	text-shadow: rgba(0, 0, 0, 0.24) 0 1px 0;
	font-size: 16px;
	box-shadow: rgba(255, 255, 255, 0.24) 0 2px 0 0 inset, #fff 0 1px 0 0;
	border: 1px solid #0164a5;
	border-radius: 2px;
	margin-top: 10px;
	cursor: pointer;
}

input[type='submit']:hover {
	background-color: #024978;
}


.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    padding-left: 1px;
   
}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.qna {
    width: 25%;
    border: 1px solid #4CAF50;
}


.query-submit input[type="text"] {
    
    width: 900px;
	border-radius: 2px;
	border: 1px solid #CCC;
	padding: 20px;
	color: #333;
	font-size: 14px;
	margin-top: 10px;
    word-wrap: break-word;
    
}


#logo{
    float:left;
    position:absolute;
    top:10px; 
    width:230px;
    height:82px;
    overflow:hidden;
    padding-left: 15px;
    
}

.search-bar{
    
    width: 500px;
    padding-left: 1px;
    position: relative;
}


.footer {
  position:relative;
   min-height: 100px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   padding: 5px 0;
   margin-top: 90px;
   overflow: auto;
}


.query-display {
     margin: auto;
    background-color:  #e5dcdc;
    width: 800px;
    padding-bottom: 6px;
    position: relative;
    text-align: left;
    position: static;
    word-wrap: break-word;
    padding-left: 50px;
    padding-right: 50px;
    border: 10px solid black;

}


/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        width: 100%;
        flex: auto;
    }
    
    #logo{
        float: none;
        position: relative;
        overflow: auto;
        flex: auto;
    }
}


.intro {
    
    background-color:#D9D9EA;
    width: 900px;
    padding-left: 50px;
    
}


.about-us {
    
    background-color: #D4D3E9;
    width: 60%;
    
}

.searchdb {
    
    float: right;
    position: relative;
    padding-right: 200px;
    
}